[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydub = "==0.25.1"
selenium = "==3.141.0"
urllib3 = "==1.26.6"
SpeechRecognition = "==3.8.1"

[dev-packages]

[requires]
python_version = "3.8"
